@model PasswordLessAuth.Models.DBContext
<h1 style="color:coral">Authenticated: </h1><br />
<h2> Welcome @Model.Name</h2> <br />
<h3> Master publickey</h3><br />
<h4>@Model.Public_key_x</h4> <br />
<h4>@Model.Public_key_y</h4>